numpy~=1.19.1
configspace~=0.4.13
hpbandster~=0.7.4
scikit-learn~=0.23.2
tensorflow~=2.1.0
cma~=3.0.3
optuna~=2.1.0
matplotlib~=3.3.1
pandas~=1.1.1
hyperopt~=0.2.4
seaborn~=0.10.1
scipy~=1.5.2
category_encoders~=2.2.2